test_results.txt

*/.stack-work
stack.yaml.lock
*.cabal
*.DS_Store
*.xml
*.ndf
*.ini
NoxPes2Csv/nadir/
!overlap/report.txt
!plot/report.txt
*.csv
*.ndb
*.nef
*.npf
*.npy
*.gz
*.iml
*.pyc
venv
*.swp
/TAGS
.#*
